@model IEnumerable<net_il_mio_fotoalbum.Models.Photo>

@{
    ViewData["Title"] = "Photos list";
}

<div class="d-flex justify-content-between align-items-center mt-2">
    <h3>Photo list</h3>

    <div>
        <a asp-action="Create" class="btn btn-warning fw-bold">New Photo</a>
        <a asp-action="Index" asp-controller="Categories" class="btn btn-warning fw-bold">Manage Categories</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Is visible
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <img class="index-photo" src=" @Html.DisplayFor(modelItem => item.ImageSrc)" />
                </td>
                <td>
                    @if (item.IsVisible == true)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @if (item.Categories != null)
                    {
                        @foreach (var category in item.Categories)
                        {
                            <span class="badge bg-warning">@category.Name</span>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-warning text-decoration-none">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-primary text-decoration-none">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-danger text-decoration-none">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
